<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	{%load static%}
	<!--<link rel="stylesheet" href="{% static 'users/style.css' %}" media="screen" title="no title"  charset="utf-8">-->
	<style>
		p{
		color: green;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body>
	<h2>Success! Welcome, {{user.first_name}}!</h2>
		{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
</body>
</html>